In [7]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.DataFrame({'weight':[1, 2, 3, 4, 5, np.nan],
                   'animal':['cat', 'dog', 'dog', 'dog', 'cat', 'lama']})

In [8]:
df.groupby(['animal']).agg(lambda x: x.notnull().sum()/x.shape[0])

        weight
animal
cat        1.0
dog        1.0
lama       0.0

In [15]:
df.groupby(['animal']).agg(lambda x: x.notnull().sum())

        weight
animal
cat          2
dog          3
lama         0

In [13]:
[] == False

False

In [5]:
df.columns.to_list()

['A', 'animal']

In [17]:
df.groupby(['animal'], dropna=False).apply(lambda x: x.notnull().sum())

        weight  animal
animal
cat          2       2
dog          3       3
lama         0       1

In [9]:
counts = df.groupby(df.columns.to_list(), dropna=False).apply(lambda x: x.notnull().sum()).sum()
perc = df.groupby(df.columns.to_list(), dropna=False).apply(lambda x: x.notnull().sum()).sum() / df.shape[0]

pd.concat([perc, counts], axis=1)

               0  1
weight  0.833333  5
animal  1.000000  6

In [57]:
df.groupby(df.columns.to_list(), dropna=False).apply(lambda x: x.notnull().sum()).sum() / df.shape[0]

A    0.833333
B    1.000000
dtype: float64

In [36]:
perc = (df.notnull().sum()/ df.shape[0])
counts = df.notnull().sum()
#_.rename(columns={0:"completeness"})

In [37]:
pd.concat([perc, counts], axis=1).rename

          0  1
A  0.833333  5
B  1.000000  6

In [11]:
sns.load_dataset('titanic').isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
# sum of na per column
df.isnull().sum()

A    0
B    1
C    2
D    0
dtype: int64

In [14]:
# % of na per column
df.groupby(['D']).agg({'C':lambda x: x.isnull().sum()})

     C
D
cat  1
dog  1